out/*
img_dsb/*
doc/_build
doc/_static
doc/_templates
notebooks/.ipynb_checkpoints/
__pycache__/
.vscode/
tmp.py
conf.py

# ignore image file, they should not be included in the repo
*.png
*.jpg
*.jpeg
*.bmp